.employee-card {
    align-content: flex-start;
}

.post-card {
    max-width: 500px;
    margin: 40px;
    
}

.post-card:hover {
    cursor:grab;
    background-color:cadetblue;
}

.example-spacer {
    flex: 1 1 auto;
}